
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Get exam_code to view performance
    // CSS
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/font.css')
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/style.css')
  body
    // Top content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong 查看实操考试结果
          .row
            .col-sm-3
              a.btn.btn-info(href='../students/home', role='button') 返回
            .col-sm-6.form-box
              .form-top
                .form-top-left
                  p 请输入考试号
              .form-bottom
                form.login-form(role='form', action='performance_operation_view', method='post' , name='takeexam')
                  .form-group
                    label.sr-only(for='form-exam_code') exam_code
                    input#form-exam_code.form-exam_code.form-control(type='text', name='exam_code', value=exam_code, placeholder='试卷编号...')
                  .form-group
                    label.sr-only(for='form-username') username
                    input#form-username.form-username.form-control(type='hidden', name='username', value=username)
                  button.btn(type='submit') 提交
            .col-sm-3
              a.btn.btn-info(href='../students/logout', role='button') 退出
    // Javascript
    script(src='/stylesheets/assets/js/jquery-1.11.1.min.js')
    script(src='/stylesheets/assets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/assets/js/jquery.backstretch.min.js')
    script(src='/stylesheets/assets/js/scripts.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')


        

