doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin Home
    // CSS
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/font.css')
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/style.css')
  body
    // Top content
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            .navbar-header
                a.navbar-brand(style='margin-top:6px') 管理员
            form.navbar-form.navbar-right
                a.btn.btn-default(type='button', style='background:#3d3d3d; color:#adadad; margin-top:6px', href='/') 退出登录
            p.navbar-text.navbar-right(name='nav_username', style='margin-left:5px') luder
            p.navbar-text.navbar-right 用户名:
            p.navbar-text.navbar-right(style='margin-left:5px') 管理员
            p.navbar-text.navbar-right 用户权限:
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-4
              .panel.panel-primary
                .panel-heading
                  h3.panel-title 学员
                .panel-body
                    .btn-group.btn-group-justified
                        a.btn.btn-info(href='/students/new', role='button') 添加学员
                        a.btn.btn-info(href='/students/batch_new', role='button') 批量添加学员
                    .btn-group.btn-group-justified(style='margin-top:10px')
                        a.btn.btn-info(href='/students/get_username_delete', role='button') 删除学员
                        a.btn.btn-info(href='/students/get_username_edit', role='button') 编辑学员信息
                    .btn-group.btn-group-justified(style='margin-top:10px')
                        a.btn.btn-info(href='/students/register_form', role='button') 注册学员到课程
                        a.btn.btn-info(href='/students/deregister_form', role='button') 解除学员到课程

            .col-sm-4
              .panel.panel-primary
                .panel-heading
                  h3.panel-title 教员
                .panel-body
                    .btn-group.btn-group-justified
                        a.btn.btn-info(href='/faculties/new', role='button') 添加教员
                        a.btn.btn-info(href='/faculties/batch_new', role='button') 批量添加教员
                    .btn-group.btn-group-justified(style='margin-top:10px')
                        a.btn.btn-info(href='/faculties/get_username_delete', role='button') 删除教员
                        a.btn.btn-info(href='/faculties/get_username_edit', role='button') 编辑教员信息
                    .btn-group.btn-group-justified(style='margin-top:10px')
                        a.btn.btn-info(href='/faculties/assign_form', role='button') 注册教员到课程
                        a.btn.btn-info(href='/faculties/unassign_form', role='button') 解除教员到课程

            .col-sm-4
              .panel.panel-primary
                .panel-heading
                  h3.panel-title 课程
                .panel-body
                    .btn-group.btn-group-justified
                        a.btn.btn-info(href='/courses/new', role='button') 添加课程
                        a.btn.btn-info(href='/courses/get_courseid_delete', role='button') 删除课程
                        a.btn.btn-info(href='/courses/get_coursename_edit', role='button') 编辑课程
                    .btn-group.btn-group-justified(style='margin-top:10px')
                        a.btn.btn-info(href='#', role='button')  数据统计
                        a.btn.btn-info(href='/data_manage/data_upload', role='button')  资料上传
                        a.btn.btn-info(href='/data_manage/data_manage', role='button')  资料管理
    // Javascript
    script(src='/stylesheets/assets/js/jquery-1.11.1.min.js')
    script(src='/stylesheets/assets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/assets/js/jquery.backstretch.min.js')
    script(src='/stylesheets/assets/js/scripts.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')
