doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Deregister Student to a Course
    // CSS
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/font.css')
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/style.css')
  body
    // Top content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong 解除学生到课程
          .row
            .col-sm-3
              a.btn.btn-info(href='#{back_link}', role='button') 返回
            .col-sm-6.form-box
              .form-top
                .form-top-left
                  h3 请填写以下信息
                  
              .form-bottom
                form.login-form(role='form', action='deregister', method='post')
                  .form-group
                    label.sr-only(for='form-username') Username
                    input#form-username.form-username.form-control(type='text', name='username', placeholder='用户名...')
                  .form-group
                    label.sr-only(for='form-courseid') CourseID
                    input#form-courseid.form-courseid.form-control(type='text', name='courseid', placeholder='课程编号...')
                  button.btn(type='submit') 提交
            .col-sm-3
              a.btn.btn-info(href='../admin/logout', role='button') 退出
    // Javascript
    script(src='/stylesheets/assets/js/jquery-1.11.1.min.js')
    script(src='/stylesheets/assets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/assets/js/jquery.backstretch.min.js')
    script(src='/stylesheets/assets/js/scripts.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')